<div class="container">
  <div class="card">
    <img class="card-img-top" src="/images/DeanneAbout.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About Deanne</h5>
      <p class="card-text">I love how music can comfort and strengthen hearts. 
        I learned to play the piano as a child and went on to study music at Ricks College (ID), 
        Columbia Basin College (WA), and Weber State University (UT). 
        I enjoyed teaching piano lessons for about 16 years. 
        Serving in various volunteer positions in the Church of Jesus Christ of Latter-day Saints opened a lot of 
        opportunities for me to write music for different meetings on the ward and stake level.  
        <br/>I fell in love with my husband, Enos, as he sat by me on the piano bench singing while I played sappy love songs. 
        We have been blessed with three sons and three daughters, a daughter-in-law and one grandson. 
      </p>
    </div>
  </div>
</div>
